$primary: rgb(206, 65, 65);
$link: $primary;
$title-color: $primary;

@import './bulma-0.8.0/bulma.sass';

html,
body {
  height: 100%;
  background-color: white;
}

.social {
  display: inline-block;
}

.skill {
  display: inline-block;
  padding: .5rem;
}