$primary: rgb(206, 65, 65);
$link: $primary;
$title-color: $primary;

@import './bulma-0.8.0/bulma.sass';
@import './bulma-0.8.0/sass/timeline/bulma-timeline.sass';

.social {
  display: inline-block;
}

.about-list > li {
  margin-bottom: 1rem;
}