$primary: rgb(206, 65, 65);
$link: $primary;
$title-color: $primary;

@import '../node_modules/bulma/bulma.sass';
@import '../node_modules/bulma-timeline/src/sass/index.sass';
@import '../node_modules/@mdi/font/scss/materialdesignicons.scss';

.is-inline-block {
  display: inline-block;
}

.about-list > li {
  margin-bottom: 1rem;
}
